#!/usr/bin/env bash

# formatters
alias plist="/usr/libexec/PlistBuddy -c \"Print\" $@"
alias xml="xmllint --format -"
alias json="python -mjson.tool"
alias jwt="
__decode() { read in; echo "\$in"==== | fold -w 4 | sed '$ d' | tr -d '\n' | base64 --decode|python -mjson.tool };
__jwt() { echo \$1|cut -d. -f1|__decode; echo \$1|cut -d. -f2|__decode; };
__jwt"

# less output from curl, please
alias curl='curl --silent'

# easy clean up of xcode
alias xcodeclean='rm -rf ~/library/Developer/Xcode/DerivedData/*'

# keep fastlane in a bundle context
alias fastlane='bundle exec fastlane'
alias pod='bundle exec pod'
alias rake='bundle exec rake'

# git
alias g="git"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# android
alias adb="~/Library/Android/sdk/platform-tools/adb"
alias logcat='__logcat() { PKG_NAME=$1;shift;adb logcat --pid=$(adb shell pidof -s $PKG_NAME) -v color $@ }; __logcat';

# network
alias netstat='netstat -anptcp'

# code
alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'

# generators
alias uuid="uuidgen| tr '[:upper:]' '[:lower:]'"

# docker tooling

alias dive='docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock ghcr.io/wagoodman/dive $@'

alias grype='
mkdir -p /tmp/grype && \
docker run --rm \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /tmp/grype:/tmp \
-e GRYPE_DB_CACHE_DIR=/tmp/grype \
anchore/grype $@'

alias trivy='
mkdir -p /tmp/trivy && \
docker run --rm \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /tmp/trivy:/root/.cache/ \
aquasec/trivy image $@'
