*

!.config/
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/plugin/
!.config/nvim/lua/plugin/*

!.aliases
!.editorconfig
!.gitconfig
!.gitignore
!.gitignore.global
!.tool-versions
!.zshrc
!Makefile
