*

!.config/
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/plugin/
!.config/nvim/lua/plugin/*

!Library
!Library/Application Support/
!Library/Application Support/Code/
!Library/Application Support/Code/User/
!Library/Application Support/Code/User/settings.json
!Library/Application Support/Code/User/extensions.json
!Library/Application Support/Code/User/keybindings.json
!Library/Application Support/Code/User/snippets/*.json
!Library/Application Support/Code/User/profiles/
!Library/Application Support/Code/User/profiles/*
!Library/Application Support/Code/User/profiles/*/settings.json
!Library/Application Support/Code/User/profiles/*/extensions.json
!Library/Application Support/Code/User/profiles/*/keybindings.json
!Library/Application Support/Code/User/profiles/*/snippets/*.json

!.aliases
!.editorconfig
!.gitconfig
!.gitignore
!.gitignore.global
!.tool-versions
!.zshrc
!Makefile

